/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&family=Open+Sans&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

html {
  font-size: 16px;
}

* {
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

.z-top {
  z-index: -999;
}

.menu--mobile {
  display: none;
}

.centered {
  text-align: center;
}

body {
  overflow-x: hidden;
}

.mainbtn {
  background: #333333;
  border-radius: 10px;
}
.mainbtn a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  text-align: center;
  color: white;
  text-decoration: none;
}

.height-auto {
  height: auto !important;
}

.second-cta a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  text-decoration: none;
  color: black;
  font-weight: 200;
}

.wrapper--inner {
  max-width: 1280px;
  margin: 0 auto;
}
.wrapper--colored {
  background-image: url("./images/assets.newatlas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #5987A4;
}
.wrapper--relative {
  position: relative;
}
.wrapper--fullscreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  margin-bottom: 50px;
  padding-top: 30px;
  justify-content: space-between;
  align-items: center;
}

.menu {
  z-index: 9;
}
.menu__wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu__item {
  margin-left: 40px;
}
.menu__item a {
  display: flex;
  font-size: 1.5rem !important;
  align-items: end;
  font-weight: 400;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 1.375rem;
}
.menu__item--phone a {
  padding: 13px 25px 13px 25px;
  background: white;
  border-radius: 8px;
}
.menu__item--phone a svg {
  width: 30px;
}
.menu__item--phone a span {
  font-weight: 400;
  margin-left: 15px;
  font-family: "Montserrat", sans-serif;
}

.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 0;
}
.hero__cta {
  display: flex;
  align-items: baseline;
}
.hero--internal {
  margin-top: 80px;
}
.hero--contact {
  flex: 1;
  margin-top: 30px;
}
.hero--home {
  margin-top: 80px;
}
.hero--no-margin {
  margin: 0;
}
.hero__important {
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  font-weight: 500;
  color: #EF4130;
  z-index: 99;
  max-width: 600px;
  line-height: 2rem;
}
.hero__important--small-margin {
  margin-bottom: 16px;
}
.hero__important--medium-margin {
  margin-bottom: 30px;
}
.hero__title {
  font-family: "Montserrat", sans-serif;
  font-size: 3.375rem;
  font-weight: 200;
  color: #333333;
  z-index: 99;
  max-width: 700px;
  margin-top: 10px;
}
.hero__regular {
  font-family: "Open Sans", sans-serif;
  font-size: 1.375rem;
  line-height: 2rem;
  color: #333333;
  margin-bottom: 55px;
  z-index: 99;
  max-width: 600px;
}
.hero__regular--nooverlap {
  max-width: 565px;
  margin-bottom: 0;
}
.hero__regular--contact {
  margin-bottom: 30px;
}
.hero__regular a {
  text-decoration: none;
  color: #333333;
}
.hero__list {
  margin-bottom: 30px;
  z-index: 99;
  max-width: 600px;
}
.hero__list div {
  font-family: "Open Sans", sans-serif;
  font-size: 1.375rem;
  color: #333333;
  margin-bottom: 10px;
}
.hero__list div svg {
  width: 20px;
  height: 15px;
}
.hero__button {
  display: flex;
  margin-bottom: 10px;
}
.hero__button--with-margin {
  margin-right: 30px;
}
.hero__button a {
  text-align: center;
  width: 100%;
  font-size: 1.375rem;
  font-weight: 400;
  background: #333333;
  border-radius: 10px;
  height: 56px !important;
  padding: 0 25px 0 25px !important;
  line-height: 56px !important;
  display: flex !important;
  align-items: center !important;
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.hero__button a a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  text-align: center;
  color: white;
  text-decoration: none;
}
.hero__button--internal a {
  width: auto;
}
.hero__image {
  position: absolute;
  left: 600px;
  top: 0;
  z-index: 80;
}
.hero__image--home {
  top: -70px;
}
.hero__image--internal {
  top: -70px;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.cta {
  display: flex;
  margin: 50px 0 50px 0;
  padding: 40px 60px 40px 60px;
  justify-content: space-between;
  align-items: center;
  background: #5987A4;
  border-radius: 10px;
}
.cta--contact {
  margin-top: 161px;
}
.cta__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}
.cta__text--dark {
  color: #333333;
}
.cta__btn a {
  padding: 13px 25px 13px 25px;
  background: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
}
.cta__btn a svg {
  width: 30px;
}
.cta__btn a span {
  font-weight: 400;
  margin-left: 15px;
  font-family: "Montserrat", sans-serif;
}
.cta__btn a span {
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
}
.cta__btn--light a {
  padding: 12px 15px 12px 15px;
  background: #333333;
  color: white;
  font-size: 1.375rem;
}
.cta--light {
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
}
.cta--internal {
  margin-top: 161px;
}

.text {
  display: flex;
  flex-direction: column;
  padding: 0 100px 0 100px;
  margin: 130px 0 30px 0;
}
.text p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.375rem;
  line-height: 2rem;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.title {
  display: flex;
  text-align: center;
  padding: 0 150px;
}
.title__h {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 57px;
  font-weight: 400;
  color: #333333;
}

.accordions {
  display: flex;
  flex-direction: column;
}

.accordion hr {
  border: solid 1px #D6D6D6;
}
.accordion__title {
  display: flex;
  padding: 10px 0 10px 0;
  justify-content: space-between;
  align-items: center;
  color: #333333;
  cursor: pointer;
}
.accordion__title span {
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  font-weight: 500;
}
.accordion__title .open {
  display: flex;
}
.accordion__title .close {
  display: none;
}
.accordion__title--open {
  color: #EF4130;
}
.accordion__title--open .open {
  display: none;
}
.accordion__title--open .close {
  display: flex;
}
.accordion__text {
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-size: 1.375rem;
  color: #333333;
  font-weight: 400;
  line-height: 2rem;
}

.facts {
  position: relative;
  display: flex;
  margin-bottom: 170px;
  margin-top: 150px;
  padding: 110px 80px 110px 80px;
  justify-content: space-between;
}
.facts__cta {
  position: absolute;
  bottom: -105px;
  left: 0;
  width: 100%;
}

.fact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fact__title {
  margin-bottom: 60px;
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  color: white;
  text-align: center;
}
.fact__number {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 51px;
  color: white;
  text-align: center;
}
.fact__name {
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  color: white;
  text-align: center;
}

.text-important {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  color: #EF4130;
  line-height: 2rem;
  font-weight: 500;
}
.text-important--footer {
  font-size: 1rem;
  font-weight: 700;
}

.story {
  position: relative;
  display: flex;
  margin-bottom: 130px;
  margin-top: 85px;
}
.story__text {
  background: #5987A4;
  margin-top: 40px;
  padding: 80px 100px 80px 60px;
  color: white;
  border-radius: 10px;
  font-size: 1.375rem;
  line-height: 2rem;
  font-family: "Open Sans", sans-serif;
}
.story__text p {
  color: white;
}
.story__image {
  margin-left: -45px;
}
.story__image img {
  border-radius: 10px;
}

.showcase {
  margin-top: 120px;
  display: flex;
  background: white;
  border-radius: 10px;
}
.showcase--home {
  margin-top: 0;
}
.showcase__image {
  max-width: 480px;
}
.showcase__image img {
  border-radius: 10px 0px 0px 10px;
  vertical-align: bottom;
}
.showcase__text {
  display: flex;
  flex-direction: column;
  padding: 60px;
  justify-content: center;
}
.showcase__title {
  text-align: left;
  margin-bottom: 40px;
}
.showcase__content {
  font-size: 1.375rem;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  line-height: 2rem;
}

.footer {
  display: flex;
  margin-top: 85px;
  flex-direction: column;
}
.footer__cta {
  display: flex;
  flex: 2;
  flex-direction: column;
}
.footer__list {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.footer__icons {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}
.footer__icon {
  width: 25px;
  margin-right: 16px;
}
.footer__main-text {
  font-size: 3.375rem;
  font-family: "Montserrat", sans-serif;
  color: #EF4130;
  margin-bottom: 15px;
}
.footer__info-text {
  font-size: 1.375rem;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-weight: 400;
  margin-bottom: 5px;
}
.footer__standard-text {
  font-size: 1.375rem;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  margin-bottom: 15px;
  text-decoration: none;
  font-weight: 400;
}
.footer__standard-text--important {
  color: #EF4130;
  font-weight: 500;
}

.footer-main {
  display: flex;
}

.footer-meta {
  display: flex;
  flex-direction: column;
}

.copy {
  display: flex;
  flex-direction: column;
}
.copy div {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  margin-bottom: 5px;
}
.copy a {
  text-decoration: none;
  color: #333333;
}

.webmaster {
  width: 140px;
  margin: 20px 0 0 0;
  padding: 0 0 20px 0;
}

.scroll-icon {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
.scroll-icon--show {
  display: block;
}
.scroll-icon svg {
  width: 40px;
}

.footer-shade {
  position: relative;
  z-index: 0;
  background: linear-gradient(0deg, #adc4d2 40%, white 83%);
}
.footer-shade--contact {
  background: linear-gradient(0deg, #adc4d2 61%, white 96%);
}
.footer-shade .footer-clouds {
  background-image: url("images/clouds_optimised.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 1954px;
  height: 1066px;
  z-index: -1;
}
.footer-shade .footer-clouds--left {
  left: -460px;
  bottom: 560px;
}
.footer-shade .footer-clouds--left--contact {
  bottom: 450px;
}
.footer-shade .footer-clouds--right {
  right: -1250px;
  bottom: 600px;
}
.footer-shade .footer-clouds--right--contact {
  bottom: 510px;
}
.footer-shade .footer-clouds--center {
  top: 0;
  left: 60px;
}
.footer-shade .footer-clouds--center--contact {
  top: -654px;
  left: 30px;
}

.header-shade {
  background-image: url("images/shade.svg");
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -373px;
  width: 100%;
  z-index: -2;
}

#header-clouds-wrapp {
  position: absolute;
  width: 100%;
  top: -276px;
  z-index: -1;
}

.header-clouds {
  background-image: url("images/clouds_optimised.png");
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}

/*homepage*/
.home-scroll-icon {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.home-scroll-icon svg {
  width: 44px;
}

.companies {
  display: flex;
  padding: 0 20px 0 20px;
  justify-content: space-between;
}
.companies__company {
  width: 280px;
  display: flex;
  justify-content: center;
}
.companies__company img {
  width: 100%;
}

.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boxes__title {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
}
.boxes__cta {
  display: flex;
  margin-top: 56px;
  align-items: center;
  z-index: 9;
}
.boxes__cta .mainbtn {
  margin-right: 30px;
}

.boxes__items {
  display: flex;
  justify-content: space-between;
}

.boxes__item--with-margin {
  margin: 0 40px 0 40px;
}

.box-title {
  margin-bottom: 30px;
}

.box-text {
  font-size: 1.375rem;
  font-family: "Open Sans", sans-serif;
  line-height: 2rem;
  font-weight: 400;
}

.description {
  display: flex;
  align-items: center;
}

.description-hero {
  display: flex;
  flex-direction: column;
}

.description-image img {
  width: 100%;
}

.warranty {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.warranty__images {
  display: flex;
  width: 500px;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 43px;
}
.warranty__title {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  text-align: center;
}
.warranty__content {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 42px;
  font-size: 1.375rem;
  font-family: "Open Sans", sans-serif;
  line-height: 2rem;
}

.panel {
  position: relative;
}

.panel-indicator {
  position: absolute;
  left: 20px;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.panel-indicator__elem {
  border-left: solid 2px black;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
.panel-indicator__elem--active {
  border-left: solid 5px black;
}

.section-shade {
  background-image: url(images/shade.svg);
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  height: 1311px;
  top: -435px;
  width: 3030px;
  z-index: -9;
}

.section-clouds {
  background-image: url("images/clouds_optimised.png");
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -311.5px;
  top: -40vh;
  height: 1066px;
  width: 1954px;
  z-index: -9;
}

.hero__map {
  flex: 1;
}
.hero__map #map {
  height: 100%;
  border-radius: 10px;
}

.contact {
  display: flex;
  margin-top: 170px;
}

.contact-form {
  width: 480px;
  background: white;
  border-radius: 10px;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  padding: 35px 40px 35px 40px;
}
.contact-form__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.contact-content {
  flex: 1;
  margin-left: 60px;
}
.contact-content__important {
  text-align: left;
}
.contact-content__title {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 57px;
}
.contact-content__content {
  font-family: "Open Sans", sans-serif;
  font-size: 1.375rem;
  line-height: 2rem;
  font-weight: 400;
}

.input {
  height: 70px;
  background: #F2F2F2;
  border: transparent;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-left: 30px;
  outline: 0;
  font-size: 1.375rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.textarea {
  height: 260px;
  background: #F2F2F2;
  border: transparent;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-top: 20px;
  outline: 0;
  resize: none;
  font-size: 1.375rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.submit {
  border: 0;
  background: #5987A4;
  height: 56px;
  padding: 0 50px 0 50px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

.main-title {
  font-family: "Montserrat", sans-serif;
  font-size: 3.375rem;
  font-weight: 200;
  margin-bottom: 40px;
}

.btn {
  height: 56px !important;
  padding: 0 25px 0 25px !important;
  line-height: 56px !important;
  display: flex !important;
  align-items: center !important;
  text-transform: uppercase;
}

.contact-page {
  display: flex;
  z-index: 99999;
  position: relative;
}

.footer a:hover, .header a:hover, .second-cta a:hover {
  color: #000000;
}

.gallery {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.gallery__item--inner {
  margin: 0 15px;
}
.gallery__item--left {
  margin: 0 7px 0 15px;
}
.gallery__item--right {
  margin: 0 15px 0 8px;
}
.gallery__item--mid {
  margin: 0 7px 0 8px;
}
.gallery__item img {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: #000;
  filter: alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.modal1, .modal2 {
  display: none;
  left: 410px;
  position: fixed;
  width: 1100px;
  background: white;
  top: 10vh;
  height: 80vh;
  z-index: 99999;
  overflow-y: scroll;
}

.modal1__wrapper {
  display: flex;
  padding: 50px;
}
.modal1__form {
  width: 400px;
}
.modal1__content {
  padding-left: 50px;
}

.modal2__wrapper {
  display: flex;
  padding: 50px;
}
.modal2__form {
  width: 400px;
}
.modal2__content {
  padding-left: 50px;
}
.modal2__content .text-important {
  text-transform: uppercase;
}

.modal {
  border-radius: 10px;
  background-image: url("images/modalbg.png");
  background-position: top right;
  background-repeat: no-repeat;
}
.modal__select {
  height: 70px;
  width: calc(100% - 30px);
  /* padding-left: 30px; */
  padding: 0;
  padding-left: 30px;
  border: 0;
  border-radius: 10px;
  /* background: #707070; */
  /* opacity: 5%; */
  color: #707070;
  background-color: rgba(112, 112, 112, 0.05);
  outline: 0;
  margin-bottom: 21px;
  font-size: 1.375rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.modal__textarea {
  height: 260px;
  background-color: rgba(112, 112, 112, 0.05);
  border: transparent;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-top: 20px;
  outline: 0;
  resize: none;
  font-size: 1.375rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  width: calc(100% - 30px);
}
.modal__content {
  flex: 1;
}
.modal__text-content {
  font-family: "Open Sans", sans-serif;
  font-size: 1.375rem;
  line-height: 2rem;
  font-weight: 400;
}
.modal .text-important {
  text-align: left;
}
.modal__inputtext {
  height: 70px;
  width: calc(100% - 30px);
  /* padding-left: 30px; */
  padding: 0;
  padding-left: 30px;
  border: 0;
  border-radius: 10px;
  /* background: #707070; */
  /* opacity: 5%; */
  color: #707070;
  background-color: rgba(112, 112, 112, 0.1);
  outline: 0;
  margin-bottom: 21px;
  font-size: 1.375rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.modal__inputtext::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #707070;
  opacity: 1;
  /* Firefox */
}
.modal__text {
  margin-bottom: 10px;
  font-size: 1.375rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #707070;
}
.modal__radio-wrapper {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.modal__radio-wrapper--left {
  justify-content: flex-start;
}
.modal__radio {
  margin-right: 13px;
}
.modal__radio--label {
  display: flex;
  align-items: center;
}
.modal__radio--label-left {
  margin-right: 57px;
}
.modal__radio-wrapper {
  margin-bottom: 25px;
}

.modal__radio__span {
  font-size: 1.375rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #707070;
  text-transform: uppercase;
  margin-left: 13px;
}

.custom-select {
  margin-bottom: 20px;
}

.custom-select-trigger {
  height: 70px;
  /* padding-left: 30px; */
  padding: 0;
  padding-left: 30px;
  border: 0;
  border-radius: 10px;
  /* background: #707070; */
  /* opacity: 5%; */
  color: #707070;
  background-color: rgba(112, 112, 112, 0.1);
  outline: 0;
  margin-bottom: 21px;
  display: flex;
  align-items: center;
  font-size: 1.375rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  justify-content: space-between;
  padding-right: 30px;
  width: calc(100% - 60px);
}

.custom-select-options {
  margin-top: -21px;
  display: none;
  flex-direction: column;
}

.custom-select-options div {
  border: solid 1px #707070;
  align-items: center;
  display: flex;
  height: 70px;
  width: calc(100% - 30px);
  /* padding-left: 30px; */
  padding: 0;
  padding-left: 30px;
  border-radius: 10px;
  /* background: #707070; */
  /* opacity: 5%; */
  color: #707070;
  background-color: #FFFFFF;
  outline: 0;
  height: 70px;
  /* padding-left: 30px; */
  padding: 0;
  padding-left: 30px;
  border: 0;
  border-radius: 10px;
  /* background: #707070; */
  /* opacity: 5%; */
  color: #707070;
  background-color: rgba(112, 112, 112, 0.1);
  outline: 0;
  margin-bottom: 21px;
  display: flex;
  align-items: center;
  font-size: 1.375rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 1px;
}

.custom-select-options div:hover {
  color: #44aaee;
}

.custom-select-trigger .icon {
  display: none;
}

.custom-select-trigger-icon-show {
  display: flex !important;
}

.custom-select-show {
  display: flex !important;
}

.custom-radio-icon-wrapper {
  position: relative;
  width: 30px;
  height: 30px;
}

.custom-radio-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: rgba(112, 112, 112, 0.1);
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__radio {
  position: absolute;
  z-index: 13;
  opacity: 0;
  width: 30px;
  height: 30px;
  margin: 0;
}

.custom-radio-icon.active {
  background: #5987A4;
}

.custom-radio-icon svg {
  display: none;
}

.custom-radio-icon.active svg {
  display: block;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #c4d5df;
  border: 0px solid #f9fbfc;
}

.menu--mobile-close {
  display: none;
  width: 25px;
  height: 25px;
  z-index: 9;
}

.menu--mobile-open {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 1599px) {
  .panel-indicator__elem--active {
    width: 0;
    overflow: hidden;
  }
}
@media screen and (max-width: 1365px) {
  .header-shade {
    right: 0 !important;
    top: -140px;
    height: 100vh !important;
    background-position-x: center;
    background-size: cover;
  }

  #header-clouds-wrapp {
    right: 0 !important;
    top: -140px;
    height: 100vh !important;
  }

  .header-clouds {
    background-size: cover;
  }

  .logo {
    z-index: 99999;
  }

  .hero {
    margin-top: 0;
    margin-bottom: 85px;
  }

  .header {
    margin-bottom: 0;
    margin-bottom: 85px;
  }

  .cta {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 85px;
  }
  .cta__text {
    line-height: 2rem;
  }

  .text {
    margin-top: 0;
  }

  .facts {
    margin-top: 0;
    margin-bottom: 85px;
  }

  .fact {
    margin-bottom: 100px;
  }
  .fact__title {
    margin-bottom: 30px;
  }

  .story {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 85px;
  }

  .showcase {
    margin-top: 0;
  }
  .showcase__image {
    width: 100%;
    max-width: 100%;
  }
  .showcase__image img {
    vertical-align: bottom;
  }

  .wrapper--inner {
    max-width: 100%;
    width: calc(100% - 100px);
    margin: 0 50px 0 50px;
  }

  .hero {
    justify-content: space-between;
  }
  .hero * {
    order: 1;
  }
  .hero__mobile-content {
    flex: 1;
    display: block;
  }
  .hero--internal {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  .hero__image {
    display: block !important;
    flex: 1;
  }
  .hero__image img {
    width: 100%;
    height: auto !important;
  }
  .hero__image--internal {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    order: 2;
  }

  .accordions {
    margin-bottom: 85px;
  }
}
@media screen and (max-width: 1279px) {
  .hero {
    flex-direction: column;
  }
  .hero__mobile-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    order: 2;
    text-align: center;
    justify-content: center;
  }
  .hero__button {
    justify-content: center;
  }
  .hero__image {
    order: 1;
    display: flex !important;
    width: 100%;
    margin-bottom: 85px;
  }
  .hero__image picture {
    width: 50%;
    margin: 0 auto;
  }
  .hero__list {
    margin-bottom: 85px;
  }

  .menu--mobile {
    display: flex;
  }
  .menu.open {
    z-index: 999;
  }
  .menu__wrapper {
    display: none;
  }
  .menu__wrapper.open {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .cta {
    flex-direction: column;
    padding: 20px 30px 20px 30px;
  }
  .cta__text {
    text-align: center;
  }
  .cta__btn {
    margin-top: 10px;
  }

  .facts {
    flex-direction: column;
  }

  .story {
    flex-direction: column;
    margin-top: -60px;
  }
  .story__text {
    order: 2;
  }
  .story__image {
    display: flex;
    order: 1;
    justify-content: center;
    bottom: -100px;
    position: relative;
  }

  .showcase {
    flex-direction: column;
    align-items: center;
  }
  .showcase__image img {
    width: 100%;
    height: auto !important;
    border-radius: 10px 10px 0 0px;
  }
  .showcase__title {
    text-align: center;
  }
  .showcase__content {
    text-align: center;
  }

  .title {
    padding: 0;
  }
}
@media screen and (max-width: 799px) {
  .header-shade {
    right: 0 !important;
    top: -200px;
    height: 100vh !important;
    background-position-x: center;
    background-size: cover;
  }

  #header-clouds-wrapp {
    right: 0 !important;
    top: 0;
    height: 100vh !important;
  }

  .gallery {
    flex-direction: column;
  }
  .gallery * {
    margin: 0;
    margin-bottom: 15px;
  }

  .facts {
    padding-left: 0;
    padding-right: 0;
  }

  .logo {
    width: 200px;
  }
  .logo img {
    width: 100%;
  }

  br {
    display: none;
  }

  .wrapper--inner {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }

  .hero__title {
    text-align: center;
  }
  .hero__important {
    text-align: center;
  }
  .hero__regular {
    text-align: center;
  }
  .hero__list {
    text-align: center;
  }
  .hero__image picture {
    width: 100%;
  }
  .hero__image img {
    width: 100%;
    height: auto;
  }

  .cta {
    border-radius: 0;
    padding: 25px 10px;
  }
  .cta__btn {
    margin-top: 25px;
  }

  .text {
    padding: 10px;
    text-align: center;
  }

  .story {
    margin-top: 0;
  }
  .story__image {
    margin-left: 0;
    position: static;
  }
  .story__image picture {
    width: 100%;
  }
  .story__image img {
    border-radius: 0;
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }
  .story__text {
    padding: 10px;
    border-radius: 0;
    margin-top: 0;
  }

  .showcase__title {
    text-align: center;
  }
  .showcase__image img {
    width: 100%;
    height: auto !important;
    border-radius: 0;
  }
  .showcase__text {
    padding: 10px;
  }
  .showcase__content {
    text-align: center;
  }

  .footer-main {
    flex-direction: column;
  }

  .footer__main-text {
    text-align: center;
  }
  .footer__info-text {
    text-align: center;
  }
  .footer__list {
    text-align: center;
    margin-bottom: 30px;
  }
  .footer__icons {
    justify-content: center;
    margin-top: 26px;
  }
  .footer__cta {
    margin-bottom: 30px;
  }

  .copy {
    text-align: center;
  }

  .webmaster {
    margin: 30px auto 0 auto;
  }

  .accordion__title {
    flex-direction: column;
    text-align: center;
  }
  .accordion__title span {
    margin-bottom: 30px;
    margin: 0 25px 30px 25px;
  }

  .header {
    margin: 0 25px 0 25px;
  }

  .hero__mobile-content {
    margin: 0 25px 0 25px;
  }
  .hero__mobile-content * {
    max-width: 100%;
  }

  .text {
    margin: 0 25px 0 25px;
  }

  .title {
    margin: 0 25px 0 25px;
  }

  .accordion__text {
    margin: 0 25px 0 25px;
  }

  .story__text {
    padding: 0 25px 0 25px;
  }

  .showcase__text {
    margin: 0 25px 0 25px;
  }
}
@media screen and (max-width: 374px) {
  .cta__btn a {
    font-size: 1rem;
  }
}
.mainwrapp {
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
