.menu--mobile-close {
  display: none;
  width: 25px;
  z-index: 9;
}
.menu--mobile-open {
  width: 25px ;
}

@media screen and (max-width: 1600px) {
  .panel-indicator {
    &__elem {
      &--active {
        width: 0;
        overflow: hidden;
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .header-shade {
    display: none;
  }
  .wrapper {
    &--inner {
      max-width: 1200px;
    }
  }
  .hero {
    * {
      order: 2;
    }
    &--internal {
      align-items: center;
    }
    &__image {
      &--internal {
        display: flex;
        position: relative;
        top: 0;
        left: 0;
        order: 1;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .menu {
    &--mobile {
      display: flex;
    }

    &.open {
      z-index: 999;
    }

    &__wrapper {
      display: none;
    }

    &__wrapper.open {
      display: flex;
      position: absolute;
      left: 0;
      top: 0;
      background: white;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
    }
  }



  .wrapper {
    &--inner {
      max-width: 760px;
    }
  }
  .cta {
    flex-direction: column;
    padding: 20px 30px 20px 30px;
    &__text {
      text-align: center;
    }
  }
  .facts {
    flex-direction: column;
  }
  .story {
    flex-direction: column;
    &__text {
      order: 2
    }
    &__image {
      display: flex;
      order: 1;
      justify-content: center;
    }
  }
  .showcase {
    flex-direction: column;
    align-items: center;
  }
  .title {
    padding: 0;
  }
}

@media screen and (max-width: 800px) {
  .logo {
    width: 200px;
    img {
      width: 100%;
    }
  }
  br {
    display: none;
  }
  .wrapper {
    &--inner {
      max-width: 300px;
    }
  }
  .hero {
    &__title {
      text-align: center;
    }
    &__important {
      text-align: center;
    }
    &__regular {
      text-align: center;
    }
    &__list {
      text-align: center;
    }
    &__image {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .cta {
    border-radius: 0;
    padding: 10px;
  }

  .text {
    padding: 10px;
    text-align: center;
  }

  .story {
    &__image {
      margin-left: 0;
      img {
        border-radius: 0;
        width: 100%;
        height: auto;
      }
    }
    &__text {
      padding: 10px;
      border-radius: 0;
    }
  }

  .showcase {
    &__title {
      text-align: center;
    }
    &__image {
      img {
        width: 100%;
        height: auto!important;
        border-radius: 0
      }
    }
    &__text {
      padding: 10px;
    }
    &__content {
      text-align: center;
    }
  }

  .footer-main {
    flex-direction: column;
  }

  .footer{
    &__main-text {
      text-align: center;
    }
    &__info-text {
      text-align: center;
    }
    &__list {
      text-align: center;
    }
    &__icons {
      justify-content: center;
    }
  }
  .copy {
    text-align: center;
  }
  .webmaster {
    margin: 20px auto 0 auto;
  }

  .accordion {
    &__title {
      flex-direction: column;
      text-align: center;
    }
    //&__text {
    //  height: auto!important;
    //}
  }
}

.mainwrapp {
  overflow-x: hidden;
}
