.menu--mobile-close {
  display: none;
  width: 25px;
  height: 25px;
  z-index: 9;
}
.menu--mobile-open {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 1599px) {
  .panel-indicator {
    &__elem {
      &--active {
        width: 0;
        overflow: hidden;
      }
    }
  }
}

@media screen and (max-width: 1365px) {




  .header-shade {
    right: 0!important;
    top: -140px;
    height: 100vh!important;
    background-position-x: center;
    background-size: cover;
  }

  #header-clouds-wrapp {
    right: 0!important;
    top: -140px;
    height: 100vh!important;
  }

  .header-clouds {
    background-size: cover;
  }


  .logo {
    z-index: 99999;
  }

  .hero {
    margin-top: 0;

    margin-bottom: 85px;

  }
  .header {
    margin-bottom: 0;

    margin-bottom: 85px;

  }
  .cta {
    margin-top: 0;
    margin-bottom: 0;

    margin-bottom: 85px;

    &__text {
      //margin-bottom: 30px;
      line-height: 2rem;
    }
  }
  .text {
    margin-top: 0;
  }

  .facts {
    margin-top: 0;
    margin-bottom: 85px;
  }
  .fact {
    margin-bottom: 100px;

    &__title {
      margin-bottom: 30px;
    }
  }
  .story {
    margin-top: 0;
    margin-bottom: 0;

    margin-bottom: 85px;

  }
  .showcase {
    margin-top: 0;
    &__image {
      width: 100%;
      max-width: 100%;
      img {
        //width: 100%;
        //height: auto!important;
        //border-radius: 10px 10px 0px 0px;
        vertical-align: bottom;
      }
    }
  }



  //.header-shade {
  //  display: none;
  //}
  //#header-clouds-wrapp {
  //  display: none;
  //}
  .wrapper {
    &--inner {
      max-width: 100%;
      width: calc(100% - 100px);
      margin: 0 50px 0 50px;
    }
  }
  .hero {
    * {
      order: 1;
    }
    justify-content: space-between;
    &__mobile-content {
      flex: 1;
      display: block;
    }
    &--internal {
      align-items: center;
      display: flex;
      flex-direction: row;
    }
    &__image {
      display: block!important;
      flex: 1;
      img {
        width: 100%;
        height: auto!important;
      }
      &--internal {
        display: flex;
        position: relative;
        top: 0;
        left: 0;
        order: 2;
      }
    }
  }

  .accordions {
    margin-bottom: 85px;
  }
}

@media screen and (max-width: 1279px) {

  .hero {
    flex-direction: column;
    &__mobile-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      order: 2;
      text-align: center;
      justify-content: center;
    }
    &__button {
      justify-content: center;
    }
    &__image {
      order: 1;
      display: flex !important;
      width: 100%;
      margin-bottom: 85px;
      picture {
        width: 50%;
        margin: 0 auto;
      }
    }
    &__list {
      margin-bottom: 85px;
    }
  }

  .menu {
    &--mobile {
      display: flex;
    }

    &.open {
      z-index: 999;
    }

    &__wrapper {
      display: none;
    }

    &__wrapper.open {
      display: flex;
      position: absolute;
      left: 0;
      top: 0;
      background: white;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
    }
  }



  //.wrapper {
  //  &--inner {
  //    max-width: 760px;
  //  }
  //}
  .cta {
    flex-direction: column;
    padding: 20px 30px 20px 30px;
    &__text {
      text-align: center;
    }
    &__btn {
      margin-top: 10px;
    }
  }
  .facts {
    flex-direction: column;
  }
  .story {
    flex-direction: column;
    margin-top: -60px;
    &__text {
      order: 2
    }
    &__image {
      display: flex;
      order: 1;
      justify-content: center;
      bottom: -100px;
      position: relative;
    }
  }
  .showcase {
    flex-direction: column;
    align-items: center;
    &__image {
      img {
        width: 100%;
        height: auto!important;
        border-radius: 10px 10px 0 0px;
      }
    }
    &__title {
      text-align: center;
    }
    &__content {
      text-align: center;
    }
  }
  .title {
    padding: 0;
  }
}

@media screen and (max-width: 799px) {
  .header-shade {
    right: 0!important;
    top: -200px;
    height: 100vh!important;
    background-position-x: center;
    background-size: cover;
  }

  #header-clouds-wrapp {
    right: 0!important;
    top: 0;
    height: 100vh!important;
  }



  .gallery {
    flex-direction: column;
    * {
      margin: 0;
      margin-bottom: 15px;
    }
  }
  .facts {
    padding-left: 0;
    padding-right: 0;
  }

  .logo {
    width: 200px;
    img {
      width: 100%;
    }
  }
  br {
    display: none;
  }
  .wrapper {
    &--inner {
      max-width: 100%;
      width: 100%;
      margin: 0;
    }
  }
  .hero {
    &__title {
      text-align: center;
    }
    &__important {
      text-align: center;
    }
    &__regular {
      text-align: center;
    }
    &__list {
      text-align: center;
    }
    &__image {
      picture {
        width: 100%;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .cta {
    border-radius: 0;
    //padding: 10px;
    padding: 25px 10px;
    &__btn {
      margin-top: 25px;
    }
  }

  .text {
    padding: 10px;
    text-align: center;
  }

  .story {
    margin-top: 0;
    &__image {
      margin-left: 0;
      position: static;
      picture {
        width: 100%;
      }
      img {
        border-radius: 0;
        width: 100%;
        height: auto;
        vertical-align: bottom;
      }
    }
    &__text {
      padding: 10px;
      border-radius: 0;
      margin-top: 0;
    }
  }

  .showcase {
    &__title {
      text-align: center;
    }
    &__image {
      img {
        width: 100%;
        height: auto!important;
        border-radius: 0
      }
    }
    &__text {
      padding: 10px;
    }
    &__content {
      text-align: center;
    }
  }

  .footer-main {
    flex-direction: column;
  }

  .footer{
    &__main-text {
      text-align: center;
    }
    &__info-text {
      text-align: center;
    }
    &__list {
      text-align: center;
      margin-bottom: 30px;
    }
    &__icons {
      justify-content: center;
      margin-top: 26px;
    }
    &__cta {
      margin-bottom: 30px;
    }
  }
  .copy {
    text-align: center;
  }
  .webmaster {
    margin: 30px auto 0 auto;
  }

  .accordion {
    &__title {
      flex-direction: column;
      text-align: center;
      span {
        margin-bottom: 30px;
        margin: 0 25px 30px 25px;
      }
    }
    //&__text {
    //  height: auto!important;
    //}
  }

  .header {
    margin: 0 25px 0 25px;
  }
  .hero {
    &__mobile-content {
      margin: 0 25px 0 25px;
      * {
        max-width: 100%;
      }
    }
  }
  .text {
    margin: 0 25px 0 25px;
  }
  .title {
    margin: 0 25px 0 25px;
  }
  .accordion {
    &__text {
      margin: 0 25px 0 25px;
    }
  }

  .story {
    &__text {
      padding: 0 25px 0 25px;
    }
  }

  .showcase {
    &__text {
      margin: 0 25px 0 25px;
      padding-bottom: 25px;
    }
  }

  .footer {
    &__main-text {
      padding: 0 25px 0 25px;
    }
  }

  .main-title {
    padding: 0 25px 0 25px;
  }

}

@media screen and (max-width: 374px) {
  .cta {
    &__btn a {
      font-size: 1rem;
    }
  }
  //.wrapper {
  //  &--inner {
  //    max-width: 300px;
  //  }
  //}
}






.mainwrapp {
  overflow-x: hidden;
}
